<div id="map"></div>
<div class="top-left button-container">
	<a
		class="waves-effect waves-circle waves-light button-round button-small"
		id="menuButton"><i class="mdi-navigation-menu icon"></i></a>
</div>
<div class="top-right button-container">
	<a
		class="waves-effect waves-circle waves-light button-round button-small"
		id="zoomInButton">+</a>
	<a
		class="waves-effect waves-circle waves-light button-round button-small"
		id="zoomOutButton">-</a>
	<a
		class="waves-effect waves-circle waves-light button-round button-small"
		id="layerButton"><i class="mdi-maps-layers icon"></i></a>
	<!--  <a
		class="waves-effect waves-circle waves-light-dark button-round button-small"
		id="overlayButton"><i class="mdi-action-info-outline icon"></i></a>-->
		
</div>