<div class="overlay-dialog-background">
</div> 
<div class="overlay-dialog"> 
	<div class="attach-dialog">
		<h1>Attach Information</h1>
		<form>
		<div class="scroll">
			<div class="input-field">
	          <input id="name" type="text" class="validate">
	          <label for="name">Name</label>
	        </div>
	        <div class="input-field">
	          <textarea id="text" class="materialize-textarea"></textarea>
	          <label for="text">Text</label>
	        </div>
	        <div class="file-field input-field">
	        	<p>Attach Image</p>
		        <input type="file" id="file" name="image" accept="image/x-png, image/gif, image/jpeg">
		    </div>
	    </div>
	    <div class="text-align-right bottom-button">
	    	<input type="submit" class="waves-effect waves-light btn" id="submitButton">
	    </div>
	    </form>
	</div>
	<div class="top-button">
		<a
			class="waves-effect waves-circle waves-light button-round-light button-normal"
			id="closeButton"><i class="mdi-navigation-close icon"></i></a>
	</div>
</div>