body {
	margin:0;
	font-family: 'Roboto';
	font-size: 12px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
}

#container {
	height:100%;
}

.noscroll {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	overflow:hidden;
}

h2 {
	font-size: 130%;
	padding:0px;
	margin:0px;
	line-height:normal
}

h3 {
	font-size: 120%;
	display:inline;
	line-height:normal
}

/*
 * BUTTONS % ICONS
 */
 
.icon {
	font-size: 140%;
}

.button-small {
	font-size: 100%;
} 
 
.button-normal {
	font-size: 120%;
}

.button-big {
	font-size: 150%;
}

.button-large {
	font-size: 200%;
}

.button-round {
	/*background-color: #fff;
	border-radius: 50%;
	color: #000;*/
	background-color: rgba(0,0,0,0.5);
	border-radius: 50%;
	color: #fff;
}

.button-round-light {
	background-color: rgba(0,0,0,0.3);
	border-radius: 50%;
	color: #fff;
}

.top-right.button-container {
	position:fixed;
	top:10px;
	right:10px;
	z-index: 100;
}

.top-left.button-container {
	position:fixed;
	top:10px;
	left:10px;
	z-index: 100;
}

.button-container a {
	/*display: block;
	margin-bottom: 2px;*/
	/*box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);*/
}

.input-field label {
	left:0;
}

.input.field textarea {
    resize: none;
}

.btn {
	background-color: #000;
}

.btn:hover {
	background-color: #333;
}


/*
 * HELPERS
 */
 
.middle-parent {
	display: table;
}

.middle-parent.full-page {
	width:100%;
	height:100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.center {
	text-align:center;
}

.text-align-right {
	text-align: right;
}

/*
 * MODAL DIALOG
 */

.modal-dialog {
    webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
}

.modal-dialog.transition {
	-webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.modal-dialog.hidden {
	/*-webkit-transform: translate3d(0%, -20%, 0);
    transform: translate3d(0, -20%, 0);*/
  	webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0
}

.overlay-dialog-background {
	position: fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index: 9998;
	background-color: rgba(0,0,0,0.6);
}

.overlay-dialog {
	position: fixed;
	top:15%;
	left:15%;
	width: 70%;
	height:70%;
	background-color: #fff;
	z-index: 9999;
	padding:20px;
	overflow: auto;
	border-radius:2px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}

.overlay-dialog h1 {
	font-size: 180%;
	margin-top:0px;
	margin-bottom: 20px;
	line-height:1;
}

.overlay-dialog .top-button {
	position:absolute;
	right:10px;
	top:10px;
}

.overlay-dialog .bottom-button {
	position:absolute;
	right:10px;
	bottom:0px;
}

.overlay-dialog .scroll {
	height:80%;
	overflow:auto;
}

/*
* HOME PAGE
*/
.homepage {
	margin:100px;
}

.homepage ul {
	font-size: 18pt;
}

.homepage li {
	list-style-type: circle;
}

.homepage h1 {
	font-size: 24pt;
}

/*
 * MAP STYLES
 */
#map {
	position:absolute;
	top:0px;
	width:100%;
	height:100%;
	z-index:1;
	background-color: #fff;
}
img.leaflet-tile { 
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

.marker {
	background-color: #fff;
	border-radius: 50%;
	border:1px solid #000;
	opacity: 1.0;
	z-index: 200;
	height:20px;
	width:20px;
	margin:-10px 0px 0px -10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
	text-align: center;
}

.marker.focused {
	box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
	webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
	height:25px;
	width:25px;
	margin:-12px 0px 0px -12px;
	border: 2px solid #000;
}

/*
 * RESULT DIALOG STYLES
 */

#result {
	position:fixed;
	top:0px;
	left:0px;
	width:330px;
	z-index: 1000;
	height:100%;
	overflow: auto;
	padding:10px;
}

#result .top-button {
	position:fixed;
	top:20px;
	left:20px;
}

#result-list {
	position:fixed;
	top:0px;
	left:0px;
	width:330px;
	z-index: 1000;
	height:100%;
	overflow: auto;
	padding:10px;
}

#result-list .top-button {
	position:fixed;
	top:20px;
	left:20px;
}

.result-item {
	background-color: #fff;
	margin-bottom:10px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	border-radius:2px;
}

.result-item img {
	display: block;
	width: 100%;
	border-radius: 2px 2px 0 0;
}

.result-item .image {
	width:100%;
	text-align: center;
	color: #fff;
	background-color: #000;
	min-height:100px;
}

.result-item .image p {
	margin:0px;
	padding-top:88px;
}

.result-item h2 {
	padding: 10px 0 10px 0;
	float: left;
}

.result-item p {
	clear: both;
}

.result-item .text {
	padding:10px;
	border-radius: 0 0 2px 2px;
}

.result-item audio {
	width:100%;
}

/*
 * MENU
 */
 
#menu {
	position:fixed;
	top:10px;
	left:50px;
	width:200px;
	max-height:90%;
	z-index: 1000;
	overflow: auto;
	border-radius:2px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	background-color:#fff;
	color:#000;
}

#menu .top-button {
	padding:0px;
	float:right;
}

#menu .button-normal {
	background-color: #fff;
	color: #000;
}

#menu h2 {
	padding:10px;
	float:left
}

#menu-list {
	clear:both;
}

#menu-list a {
	color: #555;
	width:100%;
	display: block;
	padding: 5px 10px 5px 10px;
}

#menu-list a:hover {
	color: #000;
}

#menu-list li {
	/*background-color: rgba(0,0,0,0.5);*/
	margin-bottom:4px;
}

#menu-list .icon {
	background-color: #ccc;
	color:#fff;
	border-radius: 50%;
	/*border:1px solid #000;*/
	padding:5px;
	margin-right:10px;
	font-size: 120%;

}

/* ATTACHMENT VIEW */

#attachment-view {
	position:fixed;
	top:10px;
	left:340px;
	right:10px;
	bottom:10px;
	z-index: 1000;
	overflow: auto;
	background-color: #fff;
	overflow: auto;
	border-radius:2px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	padding:20px;
}

#attachment-view h2 {
	margin-bottom:20px;
	font-size: 30px;
}

#attachment-view .top-button {
	float:right;
}

#attachment-view .btn {
	margin-bottom: 0;
}

.attachment-item img {
	width:100%;
}

.attachment-item .author {
	text-align:right;
	font-style: italic;
}


.recordLink {
	cursor: pointer;
}
