<div class="navbar-fixed">
	<nav class="header">
			<div class="header-title">
				Pinpoint
			</div>
			<div class="header-button-right middle-parent">
				<div class="middle">
					<a class="waves-effect waves-circle waves-light button-header" id="records"><i class="mdi-action-list icon"></i></a>
					<a class="waves-effect waves-circle waves-light button-header" id="refreshButton"><i class="mdi-navigation-refresh icon"></i></a>
				</div>
			</div>
		</div>
	</nav>
</div>
	
<div class="main">
	<ul class="exploration-list list">
	</ul>
</div>