<div class="noscroll">
	<div id="page-1" class="subpage transition">
		<div class="subpage-container">
			<div class="middle">
				<h2><%= name %></h1>
				<p><%= description %></p>
				<div class="input-field">
		        	<i class="mdi-action-account-circle prefix form-icon"></i>
		        	<input id="name" class="form-input" type="text" placeholder="Your Name">
		      	</div>
		      	<div class="center">
		      		<a class="waves-effect waves-circle waves-dark button-round-light button-big"  style="-webkit-transform: rotate(90deg); -moz-transform: rotate(90deg);" id="next"><i class="mdi-navigation-arrow-forward icon"></i></a>
		      	</div>
			</div>
		</div>
	</div>
	<div id="page-2" class="subpage bottom transition">
		<div class="subpage-container">
			<div class="middle">
				<h2><%= name %></h1>
				<p><%= briefing %></p>
				<div class="center">
		      		<a class="waves-effect waves-circle waves-dark button-round-light button-big" id="start"><i class="mdi-action-done icon"></i></a>
		      	</div>
			</div>
		</div>
	</div>
</div>