
<div id="task-container" class="noscroll"></div>
<div id="list-container">
	<div class="top-right-button">
		<a class="waves-effect waves-circle waves-light button-round button-normal" id="backButton"><i class="mdi-image-navigate-before icon"></i></a>
	</div>
	<div class="bottom-right-button">
		<!--<a class="waves-effect waves-circle waves-light button-round button-big" id="pinPoint"><i class="mdi-maps-place icon"></i></a>-->
		<a class="waves-effect waves-light btn-flat button" id="pinPoint"><i class="mdi-maps-place left"></i>Pin Location</a>
	</div>
	<div id="task-list" style="margin-bottom: 50pt"></div>
	
	
</div>
